#include "./chocofi.dtsi"

&default_transform {
    col-offset = <5>;
};

&kscan0 {
    row-gpios
    = <&pro_micro 7  GPIO_ACTIVE_HIGH>  // row0 - P0.17
    , <&pro_micro 8  GPIO_ACTIVE_HIGH>  // row1 - P0.20
    , <&pro_micro 9  GPIO_ACTIVE_HIGH>  // row2 - P0.22
    , <&pro_micro 10 GPIO_ACTIVE_HIGH>  // row3 - P0.24
    ;
    col-gpios
    = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // col0 - P0.31
    , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // col1 - P0.29
    , <&pro_micro 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // col2 - P0.02
    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // col3 - P1.15
    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // col4 - P1.13
    ;
};
